#1 amigos-banner src
https://i.ibb.co/M1gDTJ5/Amigos.png



#2
https://i.ibb.co/fvzrFYg/Outdoors.png

#3
https://i.ibb.co/3RJ6W6S/Sitting-on-floor.png

#4
https://i.ibb.co/bJ4CJ6K/Avatar.png

#twitter
https://i.ibb.co/hMj7kyr/twitter.png

#insta
https://i.ibb.co/hyS7FTY/instagram.png

#youtube
https://i.ibb.co/BLvGP6d/youtube.png

#ball
https://i.ibb.co/XpHsNQP/ball.png

#linkedin
https://i.ibb.co/KFjhmLm/linkedin.png